scripts/derive_parcels/tmp*
scripts/derive_parcels/Step_2nd_SingleParcellation/qsub_matlab.sh.o*
scripts/derive_parcels/Step_2nd_SingleParcellation/qsub_matlab.sh.e*
scripts/derive_parcels*.swp
scripts/derive_parcels/Toolbox/
scripts/derive_parcels/qsub_matlab.sh.*
